[Unit]
Description=Download root.hints for Unbound DNS validating resolver
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/curl -fsSL -o /etc/unbound/root.hints https://www.internic.net/domain/named.root
User=root
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
